Source: lg
Section: utils
Priority: optional
Maintainer: Your Name <you@example.com>
Build-Depends: debhelper-compat (= 13), dh-cargo, rustc, cargo
Standards-Version: 4.7.0
Homepage: https://github.com/Batyan45/lg
Rules-Requires-Root: no

Package: lg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tiny universal command logger
 Run any command prefixed with `lg` to log its output and metadata.
